@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 0.2s linear infinite;
}
